<a href="https://colab.research.google.com/github/sukhyun1017/production-planning/blob/main/%EC%83%9D%EC%82%B0%EA%B3%84%ED%9A%8D_%EC%B5%9C%EC%A2%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MPS

In [ ]:
import pandas as pd
import numpy as np
#MPS of A
month=np.zeros([13,5])
def initial(x,y,z):  #x= 재고 , y=forecast , z= orders
  #재고
  month[0][2]=x
  #forecast
  for i,f in enumerate(y):
    month[i+1][0]=f
  #orders
  for i,o in enumerate(z):
    month[i+1][1]=o

def MPS(x,y,mode):  # x=lot size, y= safety stock
  #MPS,available
  for i in range(12):
    month[i+1][2]= month[i][2]-max(month[i+1][0],month[i+1][1])+month[i+1][3]
    if month[i+1][2]<y:
       if mode=="Chasing":
          month[i+1][3]=-month[i+1][2]+y
          month[i+1][2]= month[i][2]-max(month[i+1][0],month[i+1][1])+month[i+1][3]
       if mode=="Batch":
          month[i+1][3]=x
          month[i+1][2]= month[i][2]-max(month[i+1][0],month[i+1][1])+month[i+1][3]
    if  month[i+1][2]<y:
      print('lot size is too small')
  #ATP
  N=[]
  if month[1][3] > 0:  
    month[1][4]=month[1][3]+month[0][2]-month[1][1]
  for i in range(2,13):
    if month[i][3]>0:
      N.append(i)
  for k in range(len(N)-1):
      orders = 0
      for i in range (N[k+1]-N[k]):
        orders = orders + month[N[k]+i][1]
      month[N[k]][4]=month[N[k]][3]-orders
  if month[N[-1]][3] > 0:  
      orders=0
      for i in range(N[-1],13):
        orders = orders + month[i][1]
      month[N[-1]][4]=month[N[-1]][3]-orders
  for i in range(13):
      month[i][4]= max(0,month[i][4])

########################################################################################################################
x=160
y=[100,100,100,120,150,150,150,200,200,200,200,200]
z=[120,80,50,30,20,10,0,0,0,0,0,0]
initial(x,y,z)

MPS(0,0,mode="Chasing") 
df = pd.DataFrame({'': ['forecasts','orders','available','MPS',"ATP"], 'currnet':month[0] ,
                   1:month[1],2:month[2],3:month[3],4:month[4],5:month[5],6:month[6],7:month[7],
                   8:month[8],9:month[9],10:month[10],11:month[11],12:month[12]})
df

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,forecasts,0.0,100.0,100.0,100.0,120.0,150.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0
1,orders,0.0,120.0,80.0,50.0,30.0,20.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,available,160.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MPS,0.0,0.0,60.0,100.0,120.0,150.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0
4,ATP,0.0,0.0,0.0,50.0,90.0,130.0,140.0,150.0,200.0,200.0,200.0,200.0,200.0

In [ ]:
import pandas as pd
import numpy as np
#MPS of B
month2=np.zeros([13,5])
def initial2(x,y,z):  #x= 재고 , y=forecast , z= orders
  #재고
  month2[0][2]=x
  #forecast
  for i,f in enumerate(y):
    month2[i+1][0]=f
  #orders
  for i,o in enumerate(z):
    month2[i+1][1]=o

def MPS2(x,y,mode):  # x=lot size, y= safety stock
  #MPS,available
  for i in range(12):
    month2[i+1][2]= month2[i][2]-max(month2[i+1][0],month2[i+1][1])+month2[i+1][3]
    if month2[i+1][2]<y:
       if mode=='Chasing':
          month2[i+1][3]=-month2[i+1][2]+y
          month2[i+1][2]= month2[i][2]-max(month2[i+1][0],month2[i+1][1])+month2[i+1][3]
       if mode=='Batching':
          month2[i+1][3]=x
          month2[i+1][2]= month2[i][2]-max(month2[i+1][0],month2[i+1][1])+month2[i+1][3]
    if  month2[i+1][2]<y:
      print('lot size is too small')
  #ATP
  N=[]
  if month2[1][3] > 0:  
    month2[1][4]=month2[1][3]+month2[0][2]-month2[1][1]
  for i in range(2,13):
    if month2[i][3]>0:
      N.append(i)
  for k in range(len(N)-1):
      orders = 0
      for i in range (N[k+1]-N[k]):
        orders = orders + month2[N[k]+i][1]
      month2[N[k]][4]=month2[N[k]][3]-orders
  if month2[N[-1]][3] > 0:  
      orders=0
      for i in range(N[-1],13):
        orders = orders + month2[i][1]
      month2[N[-1]][4]=month2[N[-1]][3]-orders
  for i in range(13):
      month2[i][4]= max(0,month2[i][4])

############################################################################
x=200
y=[150,150,180,180,180,180,230,230,230,230,230,230]
z=[180,120,80,50,30,20,0,0,0,0,0,0]
initial2(x,y,z)
MPS2(0,0,mode="Chasing")
df2 = pd.DataFrame({'': ['forecasts','orders','available','MPS',"ATP"], 'currnet':month2[0] ,1:month2[1],2:month2[2],3:month2[3],4:month2[4],5:month2[5],6:month2[6],7:month2[7],8:month2[8],9:month2[9],10:month2[10],11:month2[11],12:month2[12]})
df2

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,forecasts,0.0,150.0,150.0,180.0,180.0,180.0,180.0,230.0,230.0,230.0,230.0,230.0,230.0
1,orders,0.0,180.0,120.0,80.0,50.0,30.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
2,available,200.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MPS,0.0,0.0,130.0,180.0,180.0,180.0,180.0,230.0,230.0,230.0,230.0,230.0,230.0
4,ATP,0.0,0.0,10.0,100.0,130.0,150.0,160.0,230.0,230.0,230.0,230.0,230.0,230.0

In [ ]:
import pandas as pd
import numpy as np
#MPS of C
month3=np.zeros([13,5])
def initial3(x,y,z):  #x= 재고 , y=forecast , z= orders
  #재고
  month3[0][2]=x
  #forecast
  for i,f in enumerate(y):
    month3[i+1][0]=f
  #orders
  for i,o in enumerate(z):
    month3[i+1][1]=o

def MPS3(x,y,mode):  # x=lot size, y= safety stock
  #MPS,available
  for i in range(12):
    month3[i+1][2]= month3[i][2]-max(month3[i+1][0],month3[i+1][1])+month3[i+1][3]
    if month3[i+1][2]<y:
       if mode=='Chasing':
           month3[i+1][3]=-month3[i+1][2]+y
           month3[i+1][2]= month3[i][2]-max(month3[i+1][0],month3[i+1][1])+month3[i+1][3]
       if mode== 'Batch':
           month3[i+1][3]=x
           month3[i+1][2]= month3[i][2]-max(month3[i+1][0],month3[i+1][1])+month3[i+1][3]
    if  month3[i+1][2]<y:
      print('lot size is too small')
  #ATP
  N=[]
  if month3[1][3] > 0:  
    month3[1][4]=month3[1][3]+month3[0][2]-month3[1][1]
  for i in range(2,13):
    if month3[i][3]>0:
      N.append(i)
  for k in range(len(N)-1):
      orders = 0
      for i in range (N[k+1]-N[k]):
        orders = orders + month3[N[k]+i][1]
      month3[N[k]][4]=month3[N[k]][3]-orders
  if month3[N[-1]][3] > 0:  
      orders=0
      for i in range(N[-1],13):
        orders = orders + month[i][1]
      month3[N[-1]][4]=month3[N[-1]][3]-orders
  for i in range(13):
      month3[i][4]= max(0,month3[i][4])
####################################################################################################################3
x=240
y=[200,200,200,240,240,240,280,280,280,280,280,280]
z=[200,180,120,80,40,10,0,0,0,0,0,0]
initial3(x,y,z)
MPS3(0,0,mode='Chasing')
df3 = pd.DataFrame({'': ['forecasts','orders','available','MPS',"ATP"], 'currnet':month3[0] ,1:month3[1],2:month3[2],3:month3[3],4:month3[4],5:month3[5],6:month3[6],7:month3[7],8:month3[8],9:month3[9],10:month3[10],11:month3[11],12:month3[12]})
df3

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,forecasts,0.0,200.0,200.0,200.0,240.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0
1,orders,0.0,200.0,180.0,120.0,80.0,40.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,available,240.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MPS,0.0,0.0,160.0,200.0,240.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0
4,ATP,0.0,0.0,0.0,80.0,160.0,200.0,230.0,280.0,280.0,280.0,280.0,280.0,280.0

MRP

In [ ]:
monthA=np.zeros([13,4])

def initial_mrp_A(x,y): # x:NOW PIB ,  y: 만드는데 필요한 개수
  #재고
  monthA[0][2]=x
  #gross requirement
  for i in range(13):
    monthA[i][0]=y*month[i][3]

def MRP_A(x,y,z,mode): # x=lot size, y= safety stock , z=leadtime
    for i in range(12):
      monthA[i+1][2]= monthA[i][2]-monthA[i+1][0]+monthA[i+1][1]+monthA[i+1-z][3]
      if monthA[i+1][2]<y:
         if i+1-z<1:
             print("scheduled receipts are needed")
         else:
             if mode == 'Batch':
                monthA[i+1-z][3]= x
                monthA[i+1][2]= monthA[i][2]-monthA[i+1][0]+monthA[i+1][1]+monthA[i+1-z][3]
                if monthA[i+1][2]<y:
                   print('lot size is small')

             if mode == 'L4L' :
                monthA[i+1-z][3]= -monthA[i+1][2]+y
                monthA[i+1][2]= monthA[i][2]-monthA[i+1][0]+monthA[i+1][1]+monthA[i+1-z][3]
      
####################################################################################################################             
initial_mrp_A(160,1)
MRP_A(0,0,2,mode='L4L')

dfA = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthA[0] ,1:monthA[1],2:monthA[2],3:monthA[3],4:monthA[4],5:monthA[5],6:monthA[6],7:monthA[7],
                    8:monthA[8],9:monthA[9],10:monthA[10],11:monthA[11],12:monthA[12]})
dfA

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,10.0,100.0,100.0,120.0,150.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,160.0,150.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,Planned order releases,0.0,100.0,120.0,150.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0,0.0,0.0

In [ ]:
monthB=np.zeros([13,4])

def initial_mrp_B(x,y): # x:NOW PIB ,  y: 만드는데 필요한 개수
  #재고
  monthB[0][2]=x
  #gross requirement
  for i in range(13):
    monthB[i][0]=y*month2[i][3]

def MRP_B(x,y,z,mode): # x=lot size, y= safety stock , z=leadtime
    for i in range(12):
      monthB[i+1][2]=monthB[i][2]-monthB[i+1][0]+monthB[i+1][1]+monthB[i+1-z][3]
      if monthB[i+1][2]<y:
         if i+1-z<1:
             print("scheduled receipts are needed")
         else:
             if mode == 'Batch':
                monthB[i+1-z][3]= x
                monthB[i+1][2]= monthB[i][2]-monthB[i+1][0]+monthB[i+1][1]+monthB[i+1-z][3]
                if monthB[i+1][2]<y:
                   print('lot size is small')

             if mode == 'L4L' :
                monthB[i+1-z][3]= -monthB[i+1][2]+y
                monthB[i+1][2]= monthB[i][2]-monthB[i+1][0]+monthB[i+1][1]+monthB[i+1-z][3]
             
initial_mrp_B(200,1)
MRP_B(0,0,1,mode="L4L")

dfB = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthB[0] ,1:monthB[1],2:monthB[2],3:monthB[3],4:monthB[4],5:monthB[5],6:monthB[6],7:monthB[7],
                    8:monthB[8],9:monthB[9],10:monthB[10],11:monthB[11],12:monthB[12]})
dfB

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,130.0,180.0,180.0,180.0,180.0,230.0,230.0,230.0,230.0,230.0,230.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,200.0,200.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,110.0,180.0,180.0,180.0,230.0,230.0,230.0,230.0,230.0,230.0,0.0

In [ ]:
monthC=np.zeros([13,4])

def initial_mrp_C(x,y): # x:NOW PIB ,  y: 만드는데 필요한 개수
  #재고
  monthC[0][2]=x
  #gross requirement
  for i in range(13):
    monthC[i][0]=y*month3[i][3]

def MRP_C(x,y,z,mode): #  y= safety stock , z=leadtime
    for i in range(12):
      monthC[i+1][2]=monthC[i][2]-monthC[i+1][0]+monthC[i+1][1]+monthC[i+1-z][3]
      if monthC[i+1][2]<y:
         if i+1-z<1:
             print("scheduled receipts are needed")
         else:
             if mode == 'Batch':
                monthC[i+1-z][3]= x
                monthC[i+1][2]= monthC[i][2]-monthC[i+1][0]+monthC[i+1][1]+monthC[i+1-z][3]
                if monthC[i+1][2]<y:
                   print('lot size is small')

             if mode == 'L4L' :
                monthC[i+1-z][3]= -monthC[i+1][2]+y
                monthC[i+1][2]= monthC[i][2]-monthC[i+1][0]+monthC[i+1][1]+monthC[i+1-z][3]
initial_mrp_C(240,1)
MRP_C(0,0,1,mode="L4L")

dfC = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthC[0] ,1:monthC[1],2:monthC[2],3:monthC[3],4:monthC[4],5:monthC[5],6:monthC[6],7:monthC[7],
                    8:monthC[8],9:monthC[9],10:monthC[10],11:monthC[11],12:monthC[12]})
dfC

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,160.0,200.0,240.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,240.0,240.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,120.0,240.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0,0.0

In [ ]:
monthD=np.zeros([13,4])

def initial_mrp_D(x,y): # x:now pib y: 개수
  #재고
  monthD[0][2]=x
  #gross requirement
  for i in range(13):
    monthD[i][0]=y*monthA[i][3]

def MRP_D(x,y,z,mode): #  y= safety stock , z=leadtime
    for i in range(12):
      monthD[i+1][2]= monthD[i][2]-monthD[i+1][0]+monthD[i+1][1]+monthD[i+1-z][3]
      if monthD[i+1][2]<y:
         if i+1-z<1:
             print("scheduled receipts are needed")
         else:
             if mode == 'Batch':
                monthD[i+1-z][3]= x
                monthD[i+1][2]= monthD[i][2]-monthD[i+1][0]+monthD[i+1][1]+monthD[i+1-z][3]
                if monthD[i+1][2]<y:
                   print('lot size is small')

             if mode == 'L4L' :
                monthD[i+1-z][3]= -monthD[i+1][2]+y
                monthD[i+1][2]= monthD[i][2]-monthD[i+1][0]+monthD[i+1][1]+monthD[i+1-z][3]

initial_mrp_D(220,1)
MRP_D(0,0,1,mode="L4L")

dfD = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthD[0] ,1:monthD[1],2:monthD[2],3:monthD[3],4:monthD[4],5:monthD[5],6:monthD[6],7:monthD[7],
                    8:monthD[8],9:monthD[9],10:monthD[10],11:monthD[11],12:monthD[12]})
dfD

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,120.0,150.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0,0.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,220.0,220.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,50.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0,0.0,0.0,0.0

In [ ]:
monthE=np.zeros([13,4])

def initial_mrp_E(x,y,z): # x:now pib y: 개수
  #재고
  monthE[0][2]=x
  #gross requirement
  for i in range(13):
    monthE[i][0]=y*monthD[i][3]+z*monthB[i][3]

def MRP_E(x,y,z,mode): # y= safety stock , z=leadtime
    for i in range(12):
      monthE[i+1][2]= monthE[i][2]-monthE[i+1][0]+monthE[i+1][1]+monthE[i+1-z][3]
      if monthE[i+1][2]<y:
         if i+1-z<1:
             print("scheduled receipts are needed")
         else:
             if mode == 'Batch':
                monthE[i+1-z][3]= x
                monthE[i+1][2]= monthE[i][2]-monthE[i+1][0]+monthE[i+1][1]+monthE[i+1-z][3]
                if monthE[i+1][2]<y:
                   print('lot size is small')

             if mode == 'L4L' :
                monthE[i+1-z][3]= -monthE[i+1][2]+y
                monthE[i+1][2]= monthE[i][2]-monthE[i+1][0]+monthE[i+1][1]+monthE[i+1-z][3]

initial_mrp_E(300,2,2)
MRP_E(0,0,1,mode="L4L")

dfE = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthE[0] ,1:monthE[1],2:monthE[2],3:monthE[3],4:monthE[4],5:monthE[5],6:monthE[6],7:monthE[7],
                    8:monthE[8],9:monthE[9],10:monthE[10],11:monthE[11],12:monthE[12]})
dfE

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,320.0,660.0,660.0,760.0,860.0,860.0,860.0,860.0,460.0,460.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,300.0,300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,20.0,660.0,660.0,760.0,860.0,860.0,860.0,860.0,460.0,460.0,0.0,0.0

In [ ]:
monthH=np.zeros([13,4])

def initial_mrp_H(x,y,z): # x:NOW PIB ,  y: 만드는데 필요한 개수
  #재고
  monthH[0][2]=x
  #gross requirement
  for i in range(13):
    monthH[i][0]=y*monthB[i][3]+z*monthC[i][3]

def MRP_H(x,y,z,mode): #  y= safety stock , z=leadtime
    for i in range(12):
      monthH[i+1][2]=monthH[i][2]-monthH[i+1][0]+monthH[i+1][1]+monthH[i+1-z][3]
      if monthH[i+1][2]<y:
         if i+1-z<1:
             print("scheduled receipts are needed")
         else:
             if mode == 'Batch':
                monthH[i+1-z][3]= x
                monthH[i+1][2]= monthH[i][2]-monthH[i+1][0]+monthH[i+1][1]+monthH[i+1-z][3]
                if monthH[i+1][2]<y:
                   print('lot size is small')

             if mode == 'L4L' :
                monthH[i+1-z][3]= -monthH[i+1][2]+y
                monthH[i+1][2]= monthH[i][2]-monthH[i+1][0]+monthH[i+1][1]+monthH[i+1-z][3]
            
             
initial_mrp_H(400,1,2)
MRP_H(0,0,2,mode='L4L')

dfH = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthH[0] ,1:monthH[1],2:monthH[2],3:monthH[3],4:monthH[4],5:monthH[5],6:monthH[6],7:monthH[7],
                    8:monthH[8],9:monthH[9],10:monthH[10],11:monthH[11],12:monthH[12]})
dfH

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,350.0,660.0,660.0,660.0,790.0,790.0,790.0,790.0,790.0,790.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,400.0,400.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,610.0,660.0,660.0,790.0,790.0,790.0,790.0,790.0,790.0,0.0,0.0,0.0

In [ ]:
monthF=np.zeros([13,4])

def initial_mrp_F(x,y,z,q): # x:now pib y: 개수
  #재고
  monthF[0][2]=x
  #gross requirement
  for i in range(13):
    monthF[i][0]=y*monthD[i][3]+z*monthH[i][3]+q*monthH[i][3]

def MRP_F(x,y,z,mode): # y= safety stock , z=leadtime
    for i in range(12):
      monthF[i+1][2]= monthF[i][2]-monthF[i+1][0]+monthF[i+1][1]+monthF[i+1-z][3]
      if monthF[i+1][2]<y:
         if i+1-z<1:
             print("scheduled receipts are needed")
         else:
             if mode == 'Batch':
                monthF[i+1-z][3]= x
                monthF[i+1][2]= monthF[i][2]-monthF[i+1][0]+monthF[i+1][1]+monthF[i+1-z][3]
                if monthF[i+1][2]<y:
                   print('lot size is small')

             if mode == 'L4L' :
                monthF[i+1-z][3]= -monthF[i+1][2]+y
                monthF[i+1][2]= monthF[i][2]-monthF[i+1][0]+monthF[i+1][1]+monthF[i+1-z][3]

initial_mrp_F(360,3,2,2)
MRP_F(0,0,2,mode="L4L")

dfF = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthF[0] ,1:monthF[1],2:monthF[2],3:monthF[3],4:monthF[4],5:monthF[5],6:monthF[6],7:monthF[7],
                    8:monthF[8],9:monthF[9],10:monthF[10],11:monthF[11],12:monthF[12]})
dfF

scheduled receipts are needed
scheduled receipts are needed

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,2440.0,2790.0,3090.0,3610.0,3760.0,3760.0,3760.0,3760.0,3760.0,0.0,0.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,360.0,-2080.0,-4870.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,7960.0,3610.0,3760.0,3760.0,3760.0,3760.0,3760.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
monthG=np.zeros([13,4])

def initial_mrp_G(x,y,z): # x:now pib y: 개수
  #재고
  monthG[0][2]=x
  #gross requirement
  for i in range(13):
    monthG[i][0]=y*monthC[i][3]+z*monthD[i][3]

def MRP_G(x,y,z,mode): # y= safety stock , z=leadtime
    for i in range(12):
      monthG[i+1][2]= monthG[i][2]-monthG[i+1][0]+monthG[i+1][1]+monthG[i+1-z][3]
      if monthG[i+1][2]<y:
         if i+1-z<1:
             print("scheduled receipts are needed")
         else:
             if mode == 'Batch':
                monthG[i+1-z][3]= x
                monthG[i+1][2]= monthG[i][2]-monthG[i+1][0]+monthG[i+1][1]+monthG[i+1-z][3]
                if monthG[i+1][2]<y:
                   print('lot size is small')

             if mode == 'L4L' :
                monthG[i+1-z][3]= -monthG[i+1][2]+y
                monthG[i+1][2]= monthG[i][2]-monthG[i+1][0]+monthG[i+1][1]+monthG[i+1-z][3]

initial_mrp_G(280,2,1)
MRP_G(0,0,1,mode="L4L")

dfG = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthG[0] ,1:monthG[1],2:monthG[2],3:monthG[3],4:monthG[4],5:monthG[5],6:monthG[6],7:monthG[7],
                    8:monthG[8],9:monthG[9],10:monthG[10],11:monthG[11],12:monthG[12]})
dfG

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,290.0,630.0,630.0,680.0,760.0,760.0,760.0,760.0,560.0,560.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,280.0,280.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,10.0,630.0,630.0,680.0,760.0,760.0,760.0,760.0,560.0,560.0,0.0,0.0

In [ ]:
monthI=np.zeros([13,4])

def initial_mrp_I(x,y,z): # x:now pib y: 개수
  #재고
  monthI[0][2]=x
  #gross requirement
  for i in range(13):
    monthI[i][0]=y*monthH[i][3]+z*monthH[i][3]

def MRP_I(x,y,z,mode): # y= safety stock , z=leadtime
    for i in range(12):
      monthI[i+1][2]= monthI[i][2]-monthI[i+1][0]+monthI[i+1][1]+monthI[i+1-z][3]
      if monthI[i+1][2]<y:
         if i+1-z<1:
             print("scheduled receipts are needed")
         else:
             if mode == 'Batch':
                monthI[i+1-z][3]= x
                monthI[i+1][2]= monthI[i][2]-monthI[i+1][0]+monthI[i+1][1]+monthI[i+1-z][3]
                if monthI[i+1][2]<y:
                   print('lot size is small')

             if mode == 'L4L' :
                monthI[i+1-z][3]= -monthI[i+1][2]+y
                monthI[i+1][2]= monthI[i][2]-monthI[i+1][0]+monthI[i+1][1]+monthI[i+1-z][3]

initial_mrp_I(350,3,3)
MRP_I(0,0,1,mode="L4L")

dfI = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthI[0] ,1:monthI[1],2:monthI[2],3:monthI[3],4:monthI[4],5:monthI[5],6:monthI[6],7:monthI[7],
                    8:monthI[8],9:monthI[9],10:monthI[10],11:monthI[11],12:monthI[12]})
dfI

scheduled receipts are needed

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,3660.0,3960.0,3960.0,4740.0,4740.0,4740.0,4740.0,4740.0,4740.0,0.0,0.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,350.0,-3310.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,7270.0,3960.0,4740.0,4740.0,4740.0,4740.0,4740.0,4740.0,0.0,0.0,0.0,0.0

In [ ]:
monthJ=np.zeros([13,4])

def initial_mrp_J(x,y): # x:NOW PIB ,  y: 만드는데 필요한 개수
  #재고
  monthJ[0][2]=x
  #gross requirement
  for i in range(13):
    monthJ[i][0]=y*monthC[i][3]

def MRP_J(x,y,z,mode): #  y= safety stock , z=leadtime
    for i in range(12):
      monthJ[i+1][2]=monthJ[i][2]-monthJ[i+1][0]+monthJ[i+1][1]+monthJ[i+1-z][3]
      if monthJ[i+1][2]<y:
         if i+1-z<1:
             print("scheduled receipts are needed")
         else:
             if mode == 'Batch':
                monthJ[i+1-z][3]= x
                monthJ[i+1][2]= monthJ[i][2]-monthJ[i+1][0]+monthJ[i+1][1]+monthJ[i+1-z][3]
                if monthJ[i+1][2]<y:
                   print('lot size is small')

             if mode == 'L4L' :
                monthJ[i+1-z][3]= -monthJ[i+1][2]+y
                monthJ[i+1][2]= monthJ[i][2]-monthJ[i+1][0]+monthJ[i+1][1]+monthJ[i+1-z][3]
             
initial_mrp_J(300,1)
MRP_J(0,0,1,mode="L4L")

dfJ = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthJ[0] ,1:monthJ[1],2:monthJ[2],3:monthJ[3],4:monthJ[4],5:monthJ[5],6:monthJ[6],7:monthJ[7],
                    8:monthJ[8],9:monthJ[9],10:monthJ[10],11:monthJ[11],12:monthJ[12]})
dfJ

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,120.0,240.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,300.0,300.0,180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,60.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0,0.0,0.0

문제2)

In [ ]:
def MPS_update(x,y,first_sale,first_manufacture,second_sale,second_manufacture,mode): # x= lot size, y= safety stock
  month[1][1]= first_sale
  month[1][3]= first_manufacture
  month[2][1]= second_sale
  month[2][3]= second_manufacture
  month[1][2]= month[0][2]-month[1][1]+month[1][3]
  month[2][2]= month[1][2]-month[2][1]+month[2][3]
  #MPS,available
  for i in range(2,12):
    month[i+1][2]= month[i][2]-max(month[i+1][0],month[i+1][1])+month[i+1][3]
    if month[i+1][2]<y:
       if mode=="Chasing":
          month[i+1][3]=-month[i+1][2]+y
          month[i+1][2]= month[i][2]-max(month[i+1][0],month[i+1][1])+month[i+1][3]
       if mode=="Batch":
          month[i+1][3]=x
          month[i+1][2]= month[i][2]-max(month[i+1][0],month[i+1][1])+month[i+1][3]

    if  month[i+1][2]<y:
      print('lot size is too small')
  #ATP
  N=[]
  if month[1][3] > 0:  
    month[1][4]=month[1][3]+month[0][2]-month[1][1]
  for i in range(2,13):
    if month[i][3]>0:
      N.append(i)
  for k in range(len(N)-1):
      orders = 0
      for i in range (N[k+1]-N[k]):
        orders = orders + month[N[k]+i][1]
      month[N[k]][4]=month[N[k]][3]-orders
  if month[N[-1]][3] > 0:  
      orders=0
      for i in range(N[-1],13):
        orders = orders + month[i][1]
      month[N[-1]][4]=month[N[-1]][3]-orders
  for i in range(13):
      month[i][4]= max(0,month[i][4])

In [ ]:
month=np.zeros([13,5])
x=160
y=[100,100,100,120,150,150,150,200,200,200,200,200]
z=[120,80,50,30,20,10,0,0,0,0,0,0]
initial(x,y,z)
MPS_update(0,0,50,100,100,50,mode='Chasing')
df = pd.DataFrame({'': ['forecasts','orders','available','MPS',"ATP"], 'currnet':month[0] ,1:month[1],2:month[2],3:month[3],4:month[4],5:month[5],6:month[6],7:month[7],8:month[8],9:month[9],10:month[10],11:month[11],12:month[12]})
df

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,forecasts,0.0,100.0,100.0,100.0,120.0,150.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0
1,orders,0.0,50.0,100.0,50.0,30.0,20.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,available,160.0,210.0,160.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MPS,0.0,100.0,50.0,0.0,60.0,150.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0
4,ATP,0.0,210.0,0.0,0.0,30.0,130.0,140.0,150.0,200.0,200.0,200.0,200.0,200.0

In [ ]:
def MPS2_update(x,y,first_sale,first_manufacture,second_sale,second_manufacture,mode): # y= safety stock
  month2[1][1]= first_sale
  month2[1][3]= first_manufacture
  month2[2][1]= second_sale
  month2[2][3]= second_manufacture
  month2[1][2]= month2[0][2]-month2[1][1]+month2[1][3]
  month2[2][2]= month2[1][2]-month2[2][1]+month2[2][3]
  #MPS,available
  for i in range(2,12):
    month2[i+1][2]= month2[i][2]-max(month2[i+1][0],month2[i+1][1])+month2[i+1][3]
    if month2[i+1][2]<y:
       if mode=="Chasing":
          month2[i+1][3]=-month2[i+1][2]
          month2[i+1][2]= month2[i][2]-max(month2[i+1][0],month2[i+1][1])+month2[i+1][3]
       if mode=="Batch":
          month2[i+1][3]=x
          month2[i+1][2]= month2[i][2]-max(month2[i+1][0],month2[i+1][1])+month2[i+1][3]

    if  month2[i+1][2]<y:
      print('lot size is too small')
  #ATP
  N=[]
  if month2[1][3] > 0:  
    month2[1][4]=month2[1][3]+month2[0][2]-month2[1][1]
  for i in range(2,13):
    if month2[i][3]>0:
      N.append(i)
  for k in range(len(N)-1):
      orders = 0
      for i in range (N[k+1]-N[k]):
        orders = orders + month2[N[k]+i][1]
      month2[N[k]][4]=month2[N[k]][3]-orders
  if month2[N[-1]][3] > 0:  
      orders=0
      for i in range(N[-1],13):
        orders = orders + month2[i][1]
      month2[N[-1]][4]=month2[N[-1]][3]-orders
  for i in range(13):
      month2[i][4]= max(0,month2[i][4])

In [ ]:
month2=np.zeros([13,5])
x=200
y=[150,150,180,180,180,180,230,230,230,230,230,230]
z=[180,120,80,50,30,20,0,0,0,0,0,0]
initial2(x,y,z)
MPS2_update(0,0,50,100,50,100,mode='Chasing')
df2 = pd.DataFrame({'': ['forecasts','orders','available','MPS',"ATP"], 'currnet':month2[0] ,1:month2[1],2:month2[2],3:month2[3],4:month2[4],5:month2[5],6:month2[6],7:month2[7],8:month2[8],9:month2[9],10:month2[10],11:month2[11],12:month2[12]})
df2

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,forecasts,0.0,150.0,150.0,180.0,180.0,180.0,180.0,230.0,230.0,230.0,230.0,230.0,230.0
1,orders,0.0,50.0,50.0,80.0,50.0,30.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
2,available,200.0,250.0,300.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MPS,0.0,100.0,100.0,0.0,60.0,180.0,180.0,230.0,230.0,230.0,230.0,230.0,230.0
4,ATP,0.0,250.0,0.0,0.0,10.0,150.0,160.0,230.0,230.0,230.0,230.0,230.0,230.0

In [ ]:
def MPS3_update(x,y,first_sale,first_manufacture,second_sale,second_manufacture,mode): # y= safety stock
  month3[1][1]= first_sale
  month3[1][3]= first_manufacture
  month3[2][1]= second_sale
  month3[2][3]= second_manufacture
  month3[1][2]= month3[0][2]-month3[1][1]+month3[1][3]
  month3[2][2]= month3[1][2]-month3[2][1]+month3[2][3]
  #MPS,available
  for i in range(2,12):
    month3[i+1][2]= month3[i][2]-max(month3[i+1][0],month3[i+1][1])+month3[i+1][3]
    if month3[i+1][2]<y:
       if mode=="Chasing":
          month3[i+1][3]=-month3[i+1][2]
          month3[i+1][2]= month3[i][2]-max(month3[i+1][0],month3[i+1][1])+month3[i+1][3]
       if mode=="Batch":
          month3[i+1][3]=x
          month3[i+1][2]= month3[i][2]-max(month3[i+1][0],month3[i+1][1])+month3[i+1][3]

    if  month3[i+1][2]<y:
      print('lot size is too small')
  #ATP
  N=[]
  if month3[1][3] > 0:  
    month3[1][4]=month3[1][3]+month3[0][2]-month3[1][1]
  for i in range(2,13):
    if month3[i][3]>0:
      N.append(i)
  for k in range(len(N)-1):
      orders = 0
      for i in range (N[k+1]-N[k]):
        orders = orders + month3[N[k]+i][1]
      month3[N[k]][4]=month3[N[k]][3]-orders
  if month3[N[-1]][3] > 0:  
      orders=0
      for i in range(N[-1],13):
        orders = orders + month3[i][1]
      month3[N[-1]][4]=month3[N[-1]][3]-orders
  for i in range(13):
      month3[i][4]= max(0,month3[i][4])

In [ ]:
month3=np.zeros([13,5])
x=240
y=[200,200,200,240,240,240,280,280,280,280,280,280]
z=[200,180,120,80,40,10,0,0,0,0,0,0]
initial3(x,y,z)
MPS3_update(0,0,50,100,100,50,mode='Chasing')
df3 = pd.DataFrame({'': ['forecasts','orders','available','MPS',"ATP"], 'currnet':month3[0] ,1:month3[1],2:month3[2],3:month3[3],4:month3[4],5:month3[5],6:month3[6],7:month3[7],8:month3[8],9:month3[9],10:month3[10],11:month3[11],12:month3[12]})
df3

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,forecasts,0.0,200.0,200.0,200.0,240.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0
1,orders,0.0,50.0,100.0,120.0,80.0,40.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,available,240.0,290.0,240.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MPS,0.0,100.0,50.0,0.0,200.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0
4,ATP,0.0,290.0,0.0,0.0,120.0,200.0,230.0,280.0,280.0,280.0,280.0,280.0,280.0

MRP update

In [ ]:
monthA=np.zeros([13,4])
initial_mrp_A(160,1)
MRP_A(0,0,2,mode='L4L')
dfA = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthA[0] ,1:monthA[1],2:monthA[2],3:monthA[3],4:monthA[4],5:monthA[5],6:monthA[6],7:monthA[7],
                    8:monthA[8],9:monthA[9],10:monthA[10],11:monthA[11],12:monthA[12]})
dfA

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,100.0,50.0,0.0,60.0,150.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,160.0,60.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,50.0,150.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0,0.0,0.0

In [ ]:
monthB=np.zeros([13,4])
initial_mrp_B(200,1)
MRP_B(0,0,1,mode="L4L")
dfB = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthB[0] ,1:monthB[1],2:monthB[2],3:monthB[3],4:monthB[4],5:monthB[5],6:monthB[6],7:monthB[7],
                    8:monthB[8],9:monthB[9],10:monthB[10],11:monthB[11],12:monthB[12]})
dfB

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,100.0,100.0,0.0,60.0,180.0,180.0,230.0,230.0,230.0,230.0,230.0,230.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,200.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,0.0,60.0,180.0,180.0,230.0,230.0,230.0,230.0,230.0,230.0,0.0

In [ ]:
monthC=np.zeros([13,4])
initial_mrp_C(240,1)
MRP_C(0,0,1,mode="L4L")

dfC = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthC[0] ,1:monthC[1],2:monthC[2],3:monthC[3],4:monthC[4],5:monthC[5],6:monthC[6],7:monthC[7],
                    8:monthC[8],9:monthC[9],10:monthC[10],11:monthC[11],12:monthC[12]})
dfC

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,100.0,50.0,0.0,200.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,240.0,140.0,90.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,0.0,110.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0,0.0

In [ ]:
monthD=np.zeros([13,4])
initial_mrp_D(220,1)
MRP_D(0,0,1,mode="L4L")

dfD = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthD[0] ,1:monthD[1],2:monthD[2],3:monthD[3],4:monthD[4],5:monthD[5],6:monthD[6],7:monthD[7],
                    8:monthD[8],9:monthD[9],10:monthD[10],11:monthD[11],12:monthD[12]})
dfD

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,50.0,150.0,150.0,150.0,200.0,200.0,200.0,200.0,200.0,0.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,220.0,220.0,170.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,0.0,130.0,150.0,200.0,200.0,200.0,200.0,200.0,0.0,0.0,0.0

In [ ]:
monthE=np.zeros([13,4])
initial_mrp_E(300,2,2)
MRP_E(0,0,1,mode="L4L")

dfE = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthE[0] ,1:monthE[1],2:monthE[2],3:monthE[3],4:monthE[4],5:monthE[5],6:monthE[6],7:monthE[7],
                    8:monthE[8],9:monthE[9],10:monthE[10],11:monthE[11],12:monthE[12]})
dfE

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,0.0,380.0,660.0,760.0,860.0,860.0,860.0,860.0,460.0,460.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,300.0,300.0,300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,80.0,660.0,760.0,860.0,860.0,860.0,860.0,460.0,460.0,0.0,0.0

In [ ]:
monthH=np.zeros([13,4])
initial_mrp_H(400,1,2)
MRP_H(0,0,2,mode='L4L')

dfH = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthH[0] ,1:monthH[1],2:monthH[2],3:monthH[3],4:monthH[4],5:monthH[5],6:monthH[6],7:monthH[7],
                    8:monthH[8],9:monthH[9],10:monthH[10],11:monthH[11],12:monthH[12]})
dfH

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,0.0,280.0,660.0,660.0,790.0,790.0,790.0,790.0,790.0,790.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,400.0,400.0,400.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,540.0,660.0,790.0,790.0,790.0,790.0,790.0,790.0,0.0,0.0,0.0

In [ ]:
monthF=np.zeros([13,4])
initial_mrp_F(360,3,2,2)
MRP_F(0,0,2,mode="L4L")

dfF = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthF[0] ,1:monthF[1],2:monthF[2],3:monthF[3],4:monthF[4],5:monthF[5],6:monthF[6],7:monthF[7],
                    8:monthF[8],9:monthF[9],10:monthF[10],11:monthF[11],12:monthF[12]})
dfF

scheduled receipts are needed

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,2160.0,3030.0,3610.0,3760.0,3760.0,3760.0,3760.0,3760.0,0.0,0.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,360.0,360.0,-1800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,4830.0,3610.0,3760.0,3760.0,3760.0,3760.0,3760.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
monthG=np.zeros([13,4])
initial_mrp_G(280,2,1)
MRP_G(0,0,1,mode="L4L")

dfG = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthG[0] ,1:monthG[1],2:monthG[2],3:monthG[3],4:monthG[4],5:monthG[5],6:monthG[6],7:monthG[7],
                    8:monthG[8],9:monthG[9],10:monthG[10],11:monthG[11],12:monthG[12]})
dfG

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,0.0,350.0,630.0,680.0,760.0,760.0,760.0,760.0,560.0,560.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,280.0,280.0,280.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,70.0,630.0,680.0,760.0,760.0,760.0,760.0,560.0,560.0,0.0,0.0

In [ ]:
monthI=np.zeros([13,4])
initial_mrp_I(350,3,3)
MRP_I(0,0,1,mode="L4L")

dfI = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthI[0] ,1:monthI[1],2:monthI[2],3:monthI[3],4:monthI[4],5:monthI[5],6:monthI[6],7:monthI[7],
                    8:monthI[8],9:monthI[9],10:monthI[10],11:monthI[11],12:monthI[12]})
dfI

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,3240.0,3960.0,4740.0,4740.0,4740.0,4740.0,4740.0,4740.0,0.0,0.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,350.0,350.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,2890.0,3960.0,4740.0,4740.0,4740.0,4740.0,4740.0,4740.0,0.0,0.0,0.0,0.0

In [ ]:
monthJ=np.zeros([13,4])
initial_mrp_J(300,1)
MRP_J(0,0,1,mode="L4L")

dfJ = pd.DataFrame({'': ['Gross requirements','Scheduled receipts','Projected inventory balance','Planned order releases'], 
                    'currnet':monthJ[0] ,1:monthJ[1],2:monthJ[2],3:monthJ[3],4:monthJ[4],5:monthJ[5],6:monthJ[6],7:monthJ[7],
                    8:monthJ[8],9:monthJ[9],10:monthJ[10],11:monthJ[11],12:monthJ[12]})
dfJ

,,currnet,1,2,3,4,5,6,7,8,9,10,11,12
0,Gross requirements,0.0,0.0,0.0,110.0,240.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0,0.0
1,Scheduled receipts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Projected inventory balance,300.0,300.0,300.0,190.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Planned order releases,0.0,0.0,0.0,50.0,240.0,280.0,280.0,280.0,280.0,280.0,280.0,0.0,0.0